<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Account page</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <h2 style = "position: absolute;
					width: 486px;
					height: 126px;
					left: 332px;
					top: 240px;
					
					font-family: 'MedievalSharp';
					font-style: normal;
					font-weight: 500;
					font-size: 48px;
					line-height: 54px;
					
					color: #FFFFFF;">
        Do not have an account yet?
        </h2>
        
        
        <h2 style = "position: absolute;
					width: 392px;
					height: 126px;
					left: 839px;
					top: 240px;
					
					font-family: 'MedievalSharp';
					font-style: normal;
					font-weight: 500;
					font-size: 48px;
					line-height: 54px;
					
					color: #FFFFFF;">
        Already have an account?
        </h2>
 
        
        <h3 style = "position: absolute;
			width: 392px;
			height: 126px;
			left: 379px;
			top: 481px;
			
			font-family: 'MedievalSharp';
			font-style: normal;
			font-weight: 500;
			font-size: 64px;
			line-height: 72px;
			
			color: #FFFFFF;">
        <a th:href="@{/register}">Sign up</a>
        </h3>
        
        
           <h3 style = "position: absolute;
						width: 392px;
						height: 126px;
						left: 885px;
						top: 481px;
						
						font-family: 'MedievalSharp';
						font-style: normal;
						font-weight: 500;
						font-size: 64px;
						line-height: 72px;
						
						color: #FFFFFF;">
        <a th:href="@{/login}">Log in</a>
        </h3>
        
          <h5 style = "position: absolute;
					width: 127px;
					height: 36px;
					left: 1297px;
					top: 21px;
					
					font-family: 'MedievalSharp';
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 36px;
					
					color: #FFFFFF;"> 
					Ver 1.0.0 </h5>
					
    </div>
     
</body>

<style>
		body {
		  background-image: url('background-menu.jpeg');
		}
		</style>
</html>